.mainGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dynamic-content{
    text-align: center;
}
.driver1{
    text-align: center;
}
.driver2{
    text-align: center;
}
.compare-button{
    margin-bottom: 2%;
    background-color: lightgray;
    
}